body{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/*#PetSelect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}